$primary-color: #26266d;
$secondary-color: #000000;
$background-color: white;
$border-color: #ccc;
$text-color: #333;
$light-black-transparent: rgba(0, 0, 0, 0.1);
$slight-grey :rgba(255, 255, 255, 0.347);
